#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

.pokemon {
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.pokemon > img {
  height: 90px;
  width: 90px;
}

.pokemon > span {
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.25;
}

.pokemon:hover > img {
  filter: brightness(110%);
  transform: scale(1.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.search-box > .search-text {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  border: 1px solid #000;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 1.6rem;
}

.search-box > span {
  background-color: white;
  border: 1px solid #000;
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding: 7.5px;
}

.details-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  flex-direction: column;
  padding: 30px;
}

.details-wrapper > img {
  height: 90px;
  width: 90px;
  align-self: center;
}

.details-wrapper > div {
  padding: 10px;
}

.details-wrapper > .stats {
  font-size: 32px;
  text-align: center;
}

.details-wrapper > .name {
  font-size: 42px;
  text-align: center;
}

.details-wrapper > .number {
  font-size: 42px;
  text-align: center;
}

.details-wrapper > .types {
  align-self: center;
}

.details-wrapper > .types > span {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 4px solid #000;
  color: white;
  font-weight: 700;
}